@font-face {
	font-family: pixelFont;
	src: url(SFPixelate.ttf);
}
#header{
	width: 100%; height: 50px;
	top:0;
	position: absolute;
	background-color: #983351;
	left: 0px;
	text-align: center;
	padding: 0;
	border-bottom: 10px solid #721330;
}

h1{
	font-family: pixelFont, Arial, sans-serif;
	color: #4c0017;
	margin-top:3px;
	font-size: 40px;
	font-weight: normal;
}

#body{
	width:100%; height:700px;	
}

#sketchContainer{
	border:1px solid #721330;
	background-color: #Be5f7c;
	padding: 0;
	width:500px; height: 500px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	line-height: 0;
	position: relative;
}

#buttonContainer{
	width: 500px; height: 50px;
	margin: auto;
	text-align: center;
	background-color: #Be5f7c;
	border:1px solid #721330;
}

#wrapper{
	margin:auto;
	height: 500px;
}
.grid{
	display: inline-block;
	margin:0;
	padding: 0 0 0 0;
}

button{
	font-family: pixelFont;
	font-size: 18px;
	border-radius: 0px;
	border-width: 4px;
	border-color: #4c0017;
	color:#4c0017;
	background-color: #Be5f7c;
	margin-top: 10px; 
}

input{
	font-family: pixelFont;
	font-size: 18px;
	width: 25px;
	text-align: center;
	border-color: #4c0017;
}

button:focus{
	outline: 0;
}

input:focus{
	outline:0;
}

#instructions{
	width: 450px;
	text-align: center;
	font-family: pixelFont;
	font-size: 18px;
	color:#4c0017;
	margin:auto;
}